.flexCenter,
.MainContainer .SubContainer .Box1,
.MainContainer .SubContainer .Box1 .Input-Container,
.MainContainer .SubContainer .Box1 .Input-Container .flex-Container .Header,
.MainContainer .SubContainer .Box2 .data-flex .UserId,
.MainContainer .SubContainer .Box2 .data-flex .UserName,
.MainContainer .SubContainer .Box2 .data-flex .EmailID,
.MainContainer .SubContainer .Box2 .data-flex .MobileNumber,
.MainContainer .SubContainer .Box2 .data-flex .Salary,
.MainContainer .SubContainer .Box2 .data-flex .Gender,
.MainContainer .SubContainer .Box2 .data-flex .Age {
	display: flex;
	justify-content: center;
	align-items: center;
}
.MainContainer {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #cfd4db;
	flex-direction: column;
}
.MainContainer .SubContainer {
	height: fit-content;
	width: 1300px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 0 0 10px 10px;
	margin: 10px 0 20px 0;
}
.MainContainer .SubContainer .Box1 {
	width: 100%;
	height: 250px;
	border: 0.5px solid lightgray;
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}
.MainContainer .SubContainer .Box1 .Input-Container {
	width: 80%;
	height: 80%;
	flex-direction: column;
}
.MainContainer .SubContainer .Box1 .Input-Container .flex-Container {
	width: 80%;
	margin: 5px;
}
.MainContainer .SubContainer .Box1 .Input-Container .flex-Container .Header {
	font-size: 22px;
	font-weight: 600;
	margin: 0 0 40px 0;
}
.MainContainer .SubContainer .Box1 .Input-Container .flex-Container .sub-flex-Container {
	display: flex;
	margin: 0 0 10px 0;
}
.MainContainer .SubContainer .Box1 .Input-Container .flex-Container .sub-flex-Container .FileName {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Comic Sans MS';
	font-weight: 600;
	width: 85%;
	border: 0.5px solid lightgray;
	border-radius: 10px 0 0 10px;
}
.MainContainer .SubContainer .Box1 .Input-Container .flex-Container .sub-flex-Container .UploadButton {
	width: 15%;
}
.MainContainer .SubContainer .Box1 .Input-Container .flex-Container .sub-flex-Container .UploadButton .Upload {
	display: none;
}
.MainContainer .SubContainer .Box1 .Input-Container .flex-button {
	margin: 15px auto;
}
.MainContainer .SubContainer .Box2 {
	width: 100%;
	height: fit-content;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
	background-color: white;
	flex-direction: column;
}
.MainContainer .SubContainer .Box2 .data-flex {
	height: 50px;
	display: flex;
	align-items: center;
	border-bottom: 0.5px solid lightgrey;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin: 5px 0 0 0;
}
.MainContainer .SubContainer .Box2 .data-flex .UserId {
	flex: 2;
}
.MainContainer .SubContainer .Box2 .data-flex .UserName {
	flex: 8;
}
.MainContainer .SubContainer .Box2 .data-flex .EmailID {
	flex: 10;
}
.MainContainer .SubContainer .Box2 .data-flex .MobileNumber {
	flex: 4;
}
.MainContainer .SubContainer .Box2 .data-flex .Salary,
.MainContainer .SubContainer .Box2 .data-flex .Gender {
	flex: 4;
}
.MainContainer .SubContainer .Box2 .data-flex .Age {
	flex: 2;
}
.MainContainer .SubContainer .Box2 .data-flex .Delete {
	flex: 2;
	margin: 6px 5px;
}

/* zaba */
.MainContainer .SubContainer .Box2 .data-flex .datum {
	flex: 2;
}
.MainContainer .SubContainer .Box2 .data-flex .opis {
	flex: 12;
}
.MainContainer .SubContainer .Box2 .data-flex .uplata {
	flex: 2;
}
.MainContainer .SubContainer .Box2 .data-flex .isplata {
	flex: 2;
}
.MainContainer .SubContainer .Box2 .data-flex .kategorija {
	flex: 2;
}
.MainContainer .SubContainer .Box2 .data-flex .delete {
	flex: 2;
}
.MainContainer .SubContainer .Box2 .data-flex .update {
	flex: 2;
}

.MainContainer .MuiPaginationItem-outlinedSecondary.Mui-selected {
	background-color: white;
}
